@charset "utf-8";
/* CSS Document */

body {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	background-color: #FADFE4;
}

#blur {
	top: -1%;
	left: -1%;
	position: absolute;
	height: 100%;
	width: 102%;
	background-image: url("../images/fondo1.png");
	background-size: cover;
	filter: blur(4px);
}
#topContainer {
	position: absolute;
	height: 13%;
	width: 100%;
}

#logo1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#topMenu {
	position:absolute;
	left: 50.5%;
	width: 45.3%;
	height: 100%
}

.menuOption {
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
    font-family: 'Poppins', sans-serif;
    color: #16509C;
    font-weight: 600;
    font-size: 28px;
    text-decoration: none;
}

#festival {
	position: absolute;
	left: 4.223%;
}

#merch {
	position: absolute;
	left: 25.14%;
}

#causa {
	position: absolute;
	left: 43.9357%;
}

#donaciones {
	position: absolute;
	left: 63.2418%;
}

#fotos {
	position: absolute;
	left: 89.9493%;
}

#bottomContainer {
	position: absolute;
	top: 94%;
	width: 100%;
	height: 6%;
	background-color: #17519C;
}

.socialNetworks {
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
}

#face {
	top:43%;
	left: 1.5%;
}

#face:hover {
	width: 45px;
	height:46px;
}

#twitter {
	left: 5.7%;
}

#twitter:hover {
	width: 39px;
	height:38px;
}

#youtube {
	left: 10.3%;
}

#youtube:hover {
	width: 31px;
	height:24px;
}

#instagram {
	left: 14.7%;
}

#instagram:hover {
	width: 37px;
	height:38px;
}
.bottomContainerOptions {
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
}

#pawradise{
	left: 35.68%;
}

#privacidad{
	left: 56.06%;
}

#terminos{
	left: 71.75%;
}

#faq{
	left: 93.06%;
}

#middleContainer {
	position: absolute;
	top: 13%;
	height: 81%;
	width: 100%;
}

.centerInformationPosition {
	position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}

#comprarEntradasButton {
    top: 58%;
    background-color: #DC959D;
    height: 76px;
    width: 460px;
    border-radius: 100px;
    box-shadow: 0px 0px 20px #191919;
}

#comprarEntradasButton:hover {
	background-color: #44BDA3;
	box-shadow: inset 0px 0px 20px 1px #ffffff;
}

#dog {
	position: absolute;
	left: 50%;
	top:42%;
	transform: translate(-50%,-50%);
	transition-property: all;
	transition-duration: 200ms;
}

#dog2 {
	position: absolute;
	left: 50%;
	top:42%;
	transform: translate(-50%,-50%);
	transition-property: all;
	transition-duration: 200ms;
	opacity: 0;
}

#comprarEntradasText {
	position: absolute;
	font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 28px;
	left: 13%;
	top: 25%;
}

#counter {
    position: absolute;
    left: 50%;
    top: 69%;
    transform: translate(-50%);
    font-family: 'Poppins', sans-serif;
    color: #17519C;
    font-weight: 600;
    font-size: 65px;
}

#counterLeyend {
    top: 83.5%;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
}

#counterLabel {
    top: 72%;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
}
